@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        @*<div class="content-wrapper">*@
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
    </section>
}
<html>
<body>

    <div style="float:left" id="textabout">
        
        <p id="FAQtxt">
            <h1><u>Veelgestelde vragen:</u></h1>
        <p id="FAQtxt">
            <b>Antwoorden op de meest gestelde vragen over de The Greenery</b>
            <br>&#9755 &nbsp;&nbsp;	Wat is het The Greenery fruit- en groente-abonnement?
            <br>&#9755 &nbsp;&nbsp;	Waar zijn The Greenery afhaalpunt?
            <br>&#9755 &nbsp;&nbsp;	Hoe gaat het aanmelden?
            <br>&#9755 &nbsp;&nbsp;	Wat kan ik van de kwaliteit van de producten verwachten?
            <br>&#9755 &nbsp;&nbsp;	Ik mis een product. Wat nu?
            <br>&#9755 &nbsp;&nbsp;	Wat is het verschil tussen biologisch en biologisch-dynamisch?

            Wat is het The Greenery fruit- en groente-abonnement?

            Het is de productnaam voor vijf soorten abonnementen op biologische groenten en of fruit. Als abonnee haalt u elke week een papieren tas met biologische groenten en of fruit af bij een afhaalpunt. De tas bevat ook een nieuwsbrief met daarin achtergrondinformatie, recepten, herkomst van de producten en regelmatig speciale abonneeaanbiedingen.

            Waar is The Greenery afhaalpunt?

            U vindt The Greenery afhaalpunt in onze winkel vinden op de Groentestraat 22, 2665 AX te Bleiswijk

            Hoe gaat het aanmelden?

            U kunt zich aanmelden met het aanmeldingsformulier op deze site.

            Wat kan ik van de kwaliteit van de producten verwachten?

            De producten worden zo vers mogelijk ingepakt. Onze keurmeesters controleren bij binnenkomst de kwaliteit van de producten. Inpakken en transporteren gebeurt met zorg. Ook is er aandacht voor aflevering en opslag in de winkel. Als u de tas op de afhaal dag ophaalt, moet de kwaliteit goed zijn. Het zijn versproducten, waarvan de kwaliteit met de tijd minder wordt. Wacht daarom niet te lang met afhalen. Bent u niet tevreden? Laat het ons dan weten via het opmerkingenformulier of bel de abonneeservice via Bel 010 421 87 97 op maandag t/m vrijdag: 08.30-17.30 uur.
            Alle groenten en fruit zijn afkomstig van gecontroleerd biologische of biologisch-dynamische teelt.

            Ik mis een product. Wat nu?

            Mist u een product? Kijk dan of er in de tas een product zit dat niet in het The Greenery nieuws staat vermeld.
            De tassen worden door mensen ingepakt. Het kan gebeuren dat ze een product vergeten. Wilt u dit bij ons melden? Graag via het opmerkingenformulier of telefonisch via 010 421 87 97 op maandag t/m vrijdag: 08.30-17.30 uur

            De The Greenery beantwoordt graag al uw overige vragen en opmerkingen. Bel 010 421 87 97 op maandag t/m vrijdag: 08.30-17.30 uur.
</div>
</body>
</html>


