@{
    //ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section featured {
    <section class="featured">
        @*<div class="content-wrapper">*@
        <hgroup class="title">
            @*<h1>@ViewBag.Message</h1>*@
        </hgroup>

    </section>
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="round">
        <div class="one">
            <div></div>
        </div>

        <div class="two">
            <div id="produce" style="float: left" class="row">

                <div><h3>Aanbevolen smullproducten:</h3></div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/redApple.jpg"><br />Appels €0,80  </div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/pastinaak.jpg"><br />Pastinaak €0,80  </div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/pears.jpg"><br />Peren €0,80  </div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/aardbei.jpg"><br />Aardbeien €0,80  </div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/paprika.jpg"><br />Paprika's €1,80  </div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/komkommer.jpg"><br />Komkommers €0,80  </div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/aubergines.jpg"><br />Aubergines €0,80  </div>
                <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/lettuce.jpg"><br />Bergsla €0,80  </div>
            </div>
        </div>

        <div class="three">

        </div>
    </div>
</body>
</html>