@model TheGreenery.Models.Klant


@{
    ViewBag.Title = "Registreer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registreer</h2>
<fieldset>
    <form name="inlogForm" action="@Url.Action("geregistreerd", "User")" method="post">
        <label for="voorletters">Voorletters:</label><br />
        <input type="text" name="voorletters" value="" id="voorlettersText" /><br />
        <label for="tussenvoegsel">Tussenvoegsel:</label><br />
        <input type="text" name="tussenvoegsel" value="" /><br />
        <label for="achternaam">Achternaam:</label><br />
        <input type="text" name="achternaam" value="" /><br />
        <label for="adres">Adres:</label><br />
        <input type="text" name="adres" value="" /><br />
        <label for="postcode">Postcode:</label><br />
        <input type="text" name="postcode" value="" /><br />
        <label for="woonplaats">Woonplaats:</label><br />
        <input type="text" name="woonplaats" value="" /><br />
        <label for="telefoonnr">Telefoon:</label><br />
        <input type="text" name="telefoonnr" value="" /><br />
        <label for="mail">E-mail:</label><br />
        <input type="text" name="mail" value="" /><br />
        <label for="wachtwoord">Wachtwoord:</label><br />
        <input type="password" name="wachtwoord" value="" /><br />
        <label for="wachtwoord_herhalen">Wachtwoord Herhalen:</label><br />
        <input type="password" name="wachtwoord_herhalen" value="" /><br />
        <br />
        <input type="submit" value="Registreren" />
    </form>
</fieldset>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
