@using TheGreenery.Controllers;
@{
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h3> U bent ingelogd als een manager!</h3>

<h5>U kunt gegevens inzien van producten en personeel.</h5>