@{
    ViewBag.Title = "Contact";
}
@section featured {
    <section class="featured">
        @*<div class="content-wrapper">*@
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<section class="contact">
    <header>
        <h3>Wilt u contact met ons opnemen?</h3>
    </header>
    <p>
        <span class="label">Wij zijn telefonisch bereikbaar op het volgende nummer:</span><br />
        <span>010 421 87 97</span>
    </p>
    <p>
        <span class="label">wij zijn bereikbaar tijdens onze openingstijden.</span><br />
        <span>maandag t/m vrijdag: 08.30-17.30 uur.</span><br />
        <span>zaterdag: 09.00-17.00 uur.</span><br />
        <span>zondag: gesloten.</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresgegevens</h3>
    </header>
    <p>
        Onze kwekerij en winkel zijn te vinden in de Groendalseweg 22, 2665 AX te Bleiswijk.<br />
        Daarnaast zijn wij iedere maandag te vinden op de markt in Zoetermeer van 8.30 uur tot 17.00 uur op het Marktplein, <br />
        en iedere donderdag staan wij op de markt in Bleiswijk van 8.00 uur tot 13.00 uur op het Kranenburgplein.
    </p>
</section>

<section class="contact">
    <header>
        <h3>Routebeschrijving Kwekerij/Winkel</h3>
    </header>
    <p>
        <span class="label">Vanaf de A12:</span><br />
        <span>Neem afslag 8-Bleiswijk naar N209 richting Bleiswijk/Alphen a/d Rijn.</span><br />
        <span>Sla na ongeveer 1,9km rechtsaf naar de Hoefweg/N209.</span><br />
        <span>Sla na ongeveer 1,3km rechtsaf naar de Groendalseweg.</span><br />
        <span>Na ongeveer 800 meter is ons bedrijf aan uw rechterhand.</span>
    </p>
    <p>
        <span class="label">Vanaf de A20 (Rotterdam):</span>
        <span>Neem afslag 14-Rotterdam richting Rotterdam/Centrum/Hillegersberg/Schiebroek.</span><br />
        <span>Neem op de rotonde de 3e afslag naar G.K. van Hogendorpweg/N471/S112.</span><br />
        <span>Ga verder op de G.K. van Hogendorpweg/N471.</span><br />
        <span>Neem op de rotonde de 1ste afslag naar Doenkade/N209.</span><br />
        <span>Sla na ongeveer 2,3km linksaf naar de Groendalseweg.</span><br />
        <span>Na ongeveer 800 meter is ons bedrijf aan uw rechterhand.</span>
    </p>
    <p>
        <span class="label">Vanaf de N470:</span>
        <span>Neem op de rotonde de afslag naar Noordeindseweg.</span><br />
        <span>Sla na 170 meter linksaf naar de Munnikenweg.</span><br />
        <span>Blijf de weg ongeveer 3,1km vervolgen naar Groendalseweg, U heeft ons bedrijf dat aan uw linkerhand.</span>
    </p>
    <p>
        @* <img border="0" alt="Greenery" src="~/Images/kaart.bmp">*@
        <img border="0" alt="Greenery" src="~/Images/kaart.bmp">
    </p>
</section>

<section class="contact">
    <header>
        <h3>Wilt u contact met ons opnemen?</h3>
    </header>
    <p>
        <span class="label">Wij zijn telefonisch bereikbaar op het volgende nummer:</span><br />
        <span>010 421 87 97</span>
    </p>
    <p>
        <span class="label">wij zijn bereikbaar tijdens onze openingstijden.</span><br />
        <span>maandag t/m vrijdag: 08.30-17.30 uur.</span><br />
        <span>zaterdag: 09.00-17.00 uur.</span><br />
        <span>zondag: gesloten.</span>
    </p>
</section>