@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
       
    </li>

    <li class="two">
        <div class="row">
            <table style="table-layout:fixed" bgcolor="#CCCCCC" width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="200" height="379" align="center" valign="top" scope="row">

                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row">Appels</th>
                            </tr>
                        </table>

                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#99FF33" scope="row">Peren</th>
                            </tr>
                        </table>

                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row">Aardbei</th>
                            </tr>
                        </table>


                    </th>
                    <td width="200" align="center" valign="top">

                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row">Komkommer</th>
                            </tr>
                        </table>

                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#99FF33" scope="row">Aubergine</th>
                            </tr>
                        </table>



                    </td>
                    <td width="200" align="center" valign="top">
                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row">Thingy</th>
                            </tr>
                        </table>

                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#99FF33" scope="row">second thingy</th>
                            </tr>
                        </table>

                        <table width="180" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row">third thingy</th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </li>

    <li class="three">
       
    </li>
</ol>
