@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
       <div></div>
    </li>

    <li class="two">
        <div style="float: left"class="row" >
           
            <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/redApple.jpg"><br />Appels €0,80  </div>
            <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/pastinaak.jpg"><br />Appels €0,80  </div>
            <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/pears.jpg"><br />Appels €0,80  </div>
            <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/aardbei.jpg"><br />Appels €0,80  </div>
            <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/paprika.jpg"><br />Appels €0,80  </div>
               
        </div>
    </li>

    <li class="three">
       
    </li>
</ol>
