@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
       
    </li>

    <li class="two">
        <div class="row">
            <table style="table-layout:fixed" bgcolor="#CCCCCC" width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="200" height="379" align="center" valign="top" scope="row">

                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row"><img border="0" alt="Greenery" src="~/Images/redApple.jpg">Appels €0,80</th>
                            </tr>
                        </table>

                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#99FF33" scope="row"><img border="0" alt="Greenery" src="~/Images/pears.jpg">Peren  €0,75</th>
                            </tr>
                        </table>

                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row"><img border="0" alt="Greenery" src="~/Images/aardbei.jpg">Aardbeien  €0,70</th>
                            </tr>
                        </table>


                    </th>
                    <td width="200" align="center" valign="top">

                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row"><img border="0" alt="Greenery" src="~/Images/komkommer.jpg">Komkommers  €0,90</th>
                            </tr>
                        </table>

                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#99FF33" scope="row"><img border="0" alt="Greenery" src="~/Images/aubergines.jpg">Aubergines  €1,80</th>
                            </tr>
                        </table>



                    </td>
                    <td width="200" align="center" valign="top">
                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row"><img border="0" alt="Greenery" src="~/Images/pastinaak.jpg">Pastinaak  €0,80</th>
                            </tr>
                        </table>

                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#99FF33" scope="row"><img border="0" alt="Greenery" src="~/Images/paprika.jpg">Paprika  €0,65</th>
                            </tr>
                        </table>

                        <table width="185" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th height="121" bgcolor="#FFFF00" scope="row"><img border="0" alt="Greenery" src="~/Images/lettuce.jpg">Bergsla €0,80</th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </li>

    <li class="three">
       
    </li>
</ol>
