@{
    ViewBag.Title = "YAY LENTE";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>

                

                    <div align="center" style="float:left"></div>
                    <div id="menubalk" style="float: left">
                        <br /><br />
                        <div style="float: left">  <a href="~/Home/LentePage"> <img width="90" height="40" img border="0" alt="Greenery" src="~/Images/button_lente.png"> <img /> </a></div>
                        <div style="float: left">  <a href="~/Views/Home/herfstPagina.cshtml"><img width="90" height="40" img border="0" alt="Greenery" src="~/Images/button_zomer.png"> </a></div>
                        <div style="float: left">  <a href="~/Views/Home/herfstPagina.cshtml"><img width="90" height="40" img border="0" alt="Greenery" src="~/Images/button_herfst.png"> </a></div>
                        <div style="float: left">  <a href="~/Views/Home/herfstPagina.cshtml"><img width="90" height="40" img border="0" alt="Greenery" src="~/Images/button_winter.png"> </a></div>
                    </div>
               
            </hgroup>
        </div>
    </section>
}
<html>

<head>
    <meta charset="utf-8" />
  
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/aardbei.jpg"><br />Aardbeien €0,80  </div>
    <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/paprika.jpg"><br />Paprika's €1,80  </div>
    <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/komkommer.jpg"><br />Komkommers €0,80  </div>
    <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/aubergines.jpg"><br />Aubergines €0,80  </div>
    <div style="float: left"><img width="200" height="150" border="0" alt="Greenery" src="~/Images/lettuce.jpg"><br />Bergsla €0,80  </div>

</body>
    @*<html>
    <head>
       
        <title>LentePage</title>
    </head>
    <body>
        <div>

        </div>
    </body>*@
    </html>