@{
    ViewBag.Title = "Registreren";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<html>
<head>
    <title> Registreren </title>
    <link href="123.css" rel="stylesheet">

</head>

<body>
    <h1>
        Voer hieronder uw gegevens in.
    </h1>
    <div>
        <br>
        <label> Voornaam: <br> </label><input type="text">
        <label> Achternaam: <br> </label><input type="text">
        <label> Woonplaats: <br> </label><input type="text">
        <label> Adres: <br> </label><input type="text">
        <label> Postcode: <br> </label><input type="text">
        <label> Telefoonnummer: <br> </label><input type="text">
        <label> E-mail (inlognaam): <br> </label><input type="text">
        <label> Wachtwoord: <br> </label><input type="text">
        <label> Wachtwoord (herhalen): <br> </label><input type="text">
    </div>


    <br>
    <div class="registreer">
        <form action="~/home/geregistreerd">
            <input type="submit" value=" Registreer">
        </form>
    </div>


</body>
</html>
