@{
    ViewBag.Title = "Winkelwagen";
}

}
@section featured {
    <section class="featured">
        @*<div class="content-wrapper">*@
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
    </section>
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zoekresultaten</title>
</head>
<body>
    <div>
        <a href="url">Appels</a> <br />
        <a href="url">Peren</a> <br />
        <a href="url">Etc</a> <br />
    </div>
</body>
</html>