@model TheGreenery.Models.Personeel
@{
    ViewBag.Title = "PersoneelLogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <div style="float:left" id="textabout">


        <div>
            <form method="post" action="~/Personeel/LoginResult">
                <fieldset>
                    <legend>Login:</legend>
                    <label for="personeelnr">Gebruikersnaam:</label><br />
                    <input type="text" name="mail" value="" /><br />
                    <label for="wachtwoord">Wachtwoord:</label><br />
                    <input type="password" name="wachtwoord" value="" /><br />
                    <input type="submit" value="Log In" />
                </fieldset>
            </form>

        </div>

    </div>


</body>
</html>