@using TheGreenery.Controllers;
@{
    Layout = "~/Views/Shared/_Layout_Beheerder.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3> U bent ingelogd als een beheerder!</h3>

<h5>U kunt producten toevogen, wijzigen en verwijderen.</h5>