@using TheGreenery.Controllers;
@{
    Layout = "~/Views/Shared/_Layout_Beheerder.cshtml";
}

<fieldset>
    <form name="ProductBewerkenForm" action="/ProductDBController/InsertProduct" method="post">
        <label for="Naam">Naam:</label><br />
        <input type="text" name="name" value="" /><br />
        <label for="Type">Type:</label><br />
        <input type="text" name="Type" value="" /><br />
        <br />
        <label for="seizoen">Seizoen:</label><br />
        <label for="Lente">Lente:</label><br />
        <input type="text" name="lente" value="" /><br />
        <label for="Zomer">Zomer:</label><br />
        <input type="text" name="zomer" value="" /><br />
        <label for="Herfst">Herfst:</label><br />
        <input type="text" name="herfst" value="" /><br />
        <label for="Winter">Winter:</label><br />
        <input type="text" name="winter" value="" /><br />
        <br />
        <label for="prijsPerEenheid">Prijs per eendheid:</label><br />
        <input type="text" name="PrijsPerEenheid" value="" /><br />
        <label for="eenheid">Eendheid:</label><br />
        <input type="text" name="Eenheid" value="" /><br />
        <label for="omschrijving">Omschrijving:</label><br />
        <input type="text" name="omschrijving" value="" /><br />
        <label for="voorraadPerEenheid">Voorraad per eenheid:</label><br />
        <input type="text" name="voorraadPerEenheid" value="" /><br />
        <label for="imageNaam">Afbeelding:</label><br />
        <input type="text" name="imageNaam" value="" /><br />
        <br />
        <input type="checkbox" name="aanbieding" value="">Aanbieding<br>
        <br />
        <input type="submit" value="Toevoegen" />
    </form>
</fieldset>
