@{
    ViewBag.Title = "SearchStudent";
}

<h2>SearchStudent</h2>
Voer achternaam student in<br />
<form action="/Home/ShowStudents" method="post">
    <input type=text value="" name="achternaam" placeholder="achternaam" />
    <input type="submit" value="zoeken" />
</form>